<nav class="navbar bg-light">
  <div class="container-fluid">
    <%= link_to "Wikinimous", articles_path, class: 'navbar-brand' %>
    <%= link_to new_article_path do %>
      <button class="btn btn-outline-success" type="submit">New article</button>
    <% end %>
  </div>
</nav>
